/* ==========================================================================
   #BOX
   ========================================================================== */

.o-box {
  @apply --clearfix;
  display: block;
  padding: var(--global-spacing-unit);

  & > :last-child {
    margin-bottom: 0;
  }
}
