/* ==========================================================================
   #WRAPPER
   ========================================================================== */

.o-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: calc(var(--global-spacing-unit) * 0.666666); */
  /* padding-right: calc(var(--global-spacing-unit) * 0.666666); */
  padding-left: 4%;
  padding-right: 4%;
  max-width: 850px;

  @media screen and (min-width: 1024px) {
    padding-left: var(--global-spacing-unit-small);
    padding-right: var(--global-spacing-unit-small);
  }
}

.o-wrapper--narrow {
  width: 100%;
  max-width: 480px;
}

.o-wrapper--wide {
  width: 100%;
  max-width: 1020px;
}
