.o-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--global-spacing-unit-small);
  padding-right: var(--global-spacing-unit-small);
  max-width: 850px;
}

.o-wrapper--narrow {
  width: 100%;
  max-width: 480px;
}

.o-wrapper--wide {
  width: 100%;
  max-width: 1020px;
}
