.c-img-grid {
  background-image: url(../../img/banner/bali.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.js .c-img-grid::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: url(../../img/loading.svg) no-repeat 50% 75px;
  background-size: 60px auto;
  transition: opacity var(--global-easing-timing) var(--global-easing-curve);
}

.js .c-img-grid--loaded::after {
  opacity: 0;
}

.c-img-grid__wrap {
  @apply --clearfix;
  position: relative;
  margin-top: 0;
  margin-left: calc(-1.325% / 2);
  margin-right: calc(-1.325% / 2);
  margin-bottom: 0;
}

.c-img-grid__item {
  float: left;
  width: 25%;
  padding: 1.325%;
}

.c-img-grid__item--width2 {
  width: 50%;
}

.c-img-grid__item--current {
  opacity: 0 !important;
}

.c-img-grid__img-wrap {
  display: block;
}

.c-img-grid__img-wrap:focus,
.img-wrap:hover {
  outline: none;
}

.c-img-grid__img-wrap img {
  display: block;
  max-width: 100%;
}

.c-img-grid__preview {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  width: 100%;
  height: 75%;
  pointer-events: none;
}

.c-img-grid__preview::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background: var(--grey-dark);
  transition: opacity var(--global-easing-timing-huge) var(--global-easing-curve);
}

.c-img-grid__preview--open {
  pointer-events: auto;
}

.c-img-grid__preview--open::before {
  opacity: 1;
}

.c-img-grid__clone {
  position: fixed;
  z-index: 110;
  transition: opacity var(--global-easing-timing-huge) var(--global-easing-curve);
  backface-visibility: hidden;
}

.c-img-grid__original {
  position: relative;
  z-index: 120;
  display: block;
  margin: auto 0;
  object-fit: contain;
  transition: opacity var(--global-easing-timing) var(--global-easing-curve);
}

.c-img-grid__preview--open .c-img-grid--animate {
  /* open */
  transition: transform --var(global-easing-timing-huge) var(--global-easing-curve), opacity var(--global-easing-timing) var(--global-easing-curve);
}

.c-img-grid--animate {
  /* close */
  transition: transform var(--global-easing-timing-large) var(--global-easing-curve), opacity var(--global-easing-timing) var(--global-easing-curve);
}

.c-img-grid__description {
  color: var(--white);
}

.js .c-img-grid__description--grid {
  display: none;
}

.c-img-grid__description--preview {
  font-size: 1.5rem;
  position: absolute;
  height: 25vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 140;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity var(--global-easing-timing-huge) var(--global-easing-curve), transform var(--global-easing-timing-huge) var(--global-easing-curve);
  transform: translate3d(0, 30px, 0);
}

.c-img-grid__preview--open .c-img-grid__description--preview {
  opacity: 1;
  transition-delay: var(--global-easing-timing);
  transform: translate3d(0, 0, 0);
}

/* Close button */
.c-img-grid__action {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
  vertical-align: top;
  color: var(--turquoise);
  border: none;
  background: none;
}

.c-img-grid__action:hover,
.c-img-grid__action:focus {
  color: var(--turquoise);
  outline: none;
}

.c-img-grid__action--close {
  position: fixed;
  z-index: 150;
  top: 0;
  right: 0;
  padding: 1rem;
  opacity: 0;
  transition: opacity var(--global-easing-timing-large) var(--global-easing-curve), transform var(--global-easing-timing-large) var(--global-easing-curve);
  transform: scale3d(0.6, 0.6, 1);
}

.c-img-grid__preview--image-loaded .c-img-grid__action--close {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
