/* ==========================================================================
   #NAVIGATION
   ========================================================================== */

.c-navigation {
  position: absolute;
  top: 0;
  left: calc(var(--global-spacing-unit) * 0.666666);
  right: calc(var(--global-spacing-unit) * 0.666666);
  margin-top: var(--global-spacing-unit);
  margin-bottom: var(--global-spacing-unit);
}

.c-navigation__items {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;

  & a {
    text-decoration: none;
  }
}

.c-navigation__item {
  float: left;
  margin-left: var(--global-spacing-unit);
  font-family: var(--global-font-headings);
  font-weight: var(--global-font-weight-semi-bold);
  letter-spacing: 1.5px;
}

.c-navigation__link {
  display: inline-block;
  line-height: calc(var(--global-spacing-unit) * 1.5);
  opacity: 1;
  transition: var(--global-transition);

  &:hover,
  &:focus {
    border-bottom: 4px solid var(--blue-light);
    opacity: 0.8;
  }
}

/**
 * Navigation Overlay
 */

.c-navigation__overlay-trigger,
.c-navigation__overlay-close {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .c-navigation__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(153,204,51,0.9);
  }

  /* Overlay closing cross */
  .c-navigation__overlay .c-navigation__overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(../img/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
  }

  /* Menu style */
  .c-navigation__overlay {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    font-size: 54px;
    transform: translateY(-50%);
  }

  .c-navigation__overlay .c-navigation__items {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
  }

  .c-navigation__overlay .c-navigation__item {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 54px;
  }

  .c-navigation__overlay .c-navigation__link {
    font-weight: 300;
    display: block;
    color: var(--white);
    transition: color 0.2s;

    &:hover,
    &:focus {
      color: #e3fcb1;
    }
  }

  /* Effects */
  .c-navigation__overlay {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }

  .c-navigation__overlay.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }

  .c-navigation__overlay {
    perspective: 1200px;
  }

  .c-navigation__overlay .c-navigation__items {
    opacity: 0.4;
    transform: translateY(-25%) rotateX(35deg);
    transition: transform 0.5s, opacity 0.5s;
  }

  .c-navigation__overlay.open .c-navigation__items {
    opacity: 1;
    transform: rotateX(0deg);
  }

  .c-navigation__overlay.close .c-navigation__items {
    transform: translateY(25%) rotateX(-35deg);
  }
}

@media screen and (max-width: 767px and max-height: 30.5em) {
  .c-navigation__overlay .c-navigation__overlay-inner {
    height: 70%;
    font-size: 34px;
  }

  .c-navigation__overlay-item {
    min-height: 34px;
  }
}
