/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

html {
  font-size: var(--global-font-size-tiny); /* [1] */
  line-height: var(--global-line-height);
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */

  @media (min-width: 480px) {
    font-size: var(--global-font-size-small);
  }

  @media (min-width: 768px) {
    font-size: var(--global-font-size);
  }
}
