/* ==========================================================================
   #IMAGES
   ========================================================================== */

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  font-style: italic;
  vertical-align: bottom;
}

img[width],
img[height] {
  max-width: none;
}
