/* ==========================================================================
   #COLORS
   ========================================================================== */

:root {
  --white: #fff;
  --grey: #3a3d3f;
  --grey-dark: #27282d;
  --grey-light: #d8e3eb;
  --grey-light-30: color(#d8e3eb alpha(30%));
  --grey-light-50: color(#d8e3eb alpha(50%));

  --blue: #0488e6;
  --blue-light: #08d8fd;
  --blue-light-25: color(#08d8fd alpha(25%));
  --blue-light-97: color(#08d8fd alpha(97%));
  --blue-dark: #126199;
  --turquoise: #08f3d7;
  --red: #ea1f1b;
}
